<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header">Navbar</div>
<body>
<h1>Регистрация</h1>
<form th:action="@{/auth/register}" th:object="${signupInputModel}" method="post">
    <div>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>
    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>
    <div>
        <label for="number">Номер телефона:</label>
        <input type="text" id="number" th:field="*{number}" required>
        <span th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" required>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>
    <div>
        <button type="submit">Зарегистрироваться</button>
    </div>
    <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>
</form>
</body>
</html>
